/*
    hackday-basic-chrome-ext for hackday usage
*/
.booking-blur {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: #FFF;
    width: 100px;
    height: 100px;
    z-index: 100;
}