<section id="pk-container">
    
    <div id="pk-table">
        <article class="pk-feature-column">
            <ul class="">
                <li class="pk-hotel-cell pk-hotel-cell-0">Hotel</li>
                <li class="pk-hotel-cell pk-hotel-cell-1">Photo</li>
            </ul>
        </article>
        <article class="pk-hotel-column">
            <ul class="">
                <li class="pk-hotel-cell pk-hotel-cell-0">Shreaton</li>
            </ul>
        </article>
    </div>

</section>
