<div class="popup-contanier">
    <ul>
        <li class="comment"></li>
    </ul>
</div>

<style type="text/css" media="screen">
    
.popup-contanier{
    background-color: #FFFFFF;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    z-index: 999;
    border: 1px solid #5cb9ff;
    background-color: rgb(233, 240, 250);
    box-shadow: -3px 3px 12px 0px rgba(50, 50, 50, 0.75);
}

.popup-contanier ul {
    margin-top: 0;
    padding: 8px;
}

.popup-contanier ol, ul {
    list-style: none;
}

.popup-contanier ul li {
    font-size: 1.25em;
    padding-top: 10px;
    color: rgba(39, 65, 90, 0.9);
}

.comment{

}

.popup-contanier ul li .faComment {
    margin-right: 6px;
}

</style>